:root {
    --primary-color: #524c5a;;
    --secondary-color: #efe5b8;
    --success-color: #192D46;
}

html {
    scroll-behavior: smooth;
}
 
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}
